<h1>Editing feedsetting</h1>

<% form_for(@feedsetting) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :service_id %><br />
    <%= f.text_field :service_id %>
  </p>
  <p>
    <%= f.label :parameter %><br />
    <%= f.text_field :parameter %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @feedsetting %> |
<%= link_to 'Back', feedsettings_path %>
