<h1>Listing feedsettings</h1>

<table>
  <tr>
    <th>User</th>
    <th>Service</th>
    <th>Parameter</th>
  </tr>

<% for feedsetting in @feedsettings %>
  <tr>
    <td><%=h feedsetting.user_id %></td>
    <td><%=h feedsetting.service_id %></td>
    <td><%=h feedsetting.parameter %></td>
    <td><%= link_to 'Show', feedsetting %></td>
    <td><%= link_to 'Edit', edit_feedsetting_path(feedsetting) %></td>
    <td><%= link_to 'Destroy', feedsetting, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New feedsetting', new_feedsetting_path %>
