<p>
  <b>User:</b>
  <%=h @feedsetting.user_id %>
</p>

<p>
  <b>Service:</b>
  <%=h @feedsetting.service_id %>
</p>

<p>
  <b>Parameter:</b>
  <%=h @feedsetting.parameter %>
</p>


<%= link_to 'Edit', edit_feedsetting_path(@feedsetting) %> |
<%= link_to 'Back', feedsettings_path %>
