%h1= t :dashboard
.box
  %h2= t :statistics
  %table
    %tr
      %th= t :total_feeds
      %td= @feeds_count
    %tr
      %th= t :total_items
      %td= @items_count

.box
  %h2= t :latest_items
  =render :partial => 'latest_items'
