=render :partial => 'services'

- @service = Service.find_by_identifier("customfeed")
%h1 Customfeed service

-form_for(@feed, :url => admin_feeds_url, :action => :post) do |f|
  = f.error_messages
  %p
    %img{:src => "/images/customfeed.png", :alt => "Custom RSS"}
    = "Custom RSS/Atom URL"
    %br/
    = hidden_field_tag 'feed[service_id]', @service.id
    = text_field :site, :parameter, { :class => 'text' }
  %p
    = f.submit "Create"
