<div style="float:right;width:25%;">
  <h1>Filter</h1>
  <ul id="filter_tab">
    <li class="current"><a href="" class="active">Service</a></li>
    <li><a href="">Feed</a></li>
  </ul>
  <ul>
    <% for service in @services %>
    <li style="float:left;padding:0.2em 0.5em;width:15em;"><input type="checkbox" /> <%=image_tag("/images/#{service.identifier}.png")%> <%= service.name %></li>
    <% end %>
  </ul>
</div>
<div style="float:left;width:74%;">
  <h1>Items</h1>
  <%= link_to 'New item', new_item_path if logged_in? %>
  <ul>
  <% for item in @items %>
    <li class="item">
      <h3><%= image_tag(item.feed.service.identifier+'.png') %> <%= link_to h(item.title), item.link %></h3>
      <p class="metadata">
        <span class="datetime">
          <%= h item.created_at.to_s(:db) %>
        </span>
      </p>
      <p class="body">
        <%= truncate((h item.body), :length => 200) %>
      </p>
    </li>
  <% end %>
  </ul>
</div>
<div style="float:right;width:25%;">
  <h1>Feeds</h1>
  <ul>
    <% for feed in @feeds %>
    <li style="float:left;padding:0.2em 0.5em;width:15em;"><input type="checkbox" /> <%=image_tag("/images/#{feed.service.identifier}.png")%> <%= feed.title %></li>
    <% end %>
  </ul>
</div>
<%= will_paginate @items %>

