<h1><%= t :profile %></h1>

<% form_for(@profile, :url => admin_feeds_url, :method => :post) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :login %><br />
    <%= f.text_field :login, { :class => 'text' } %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email, { :class => 'text' } %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
