!!! XML
!!!
%html
  %head
    %title
    %link{:rel => 'stylesheet', :href => '/stylesheets/plugins/fancy-type/screen.css', :type => 'text/css', :media => 'screen, projection'}
    / [if IE]<link rel="stylesheet" href="../../blueprint/ie.css" type="text/css" media="screen, projection"> 
    %link{:rel => 'stylesheet', :href => '/stylesheets/plugins/buttons/screen.css', :type => 'text/css', :media => 'all'}
    %link{:rel => 'stylesheet', :href => '/stylesheets/default.css', :type => 'text/css', :media => 'all'}
    %link{:rel => 'stylesheet', :href => '/stylesheets/admin.css', :type => 'text/css', :media => 'all'}
    %script{:type => 'text/javascript', :src => '/javascripts/jquery.js'}
    %script{:type => 'text/javascript', :src => '/javascripts/application.js'}
  %body#admin
    %ul.menu
      %li.first
        %h1 Durumi
      %li
        %a{:href=>root_url}= t :home
      - if !logged_in?
        %li
          %a{:href=>login_url}= t :login
      - else
        %li
          %a{:href=>logout_url}= t :logout
      %li
        %a{:href=>admin_url}= t :admin
    - if flash[:notice]
      #flash.notice
        = flash[:notice]
    - if flash[:error]
      #flash.error
        = flash[:error]
    #main= yield
